h1 {
    color:red;
}

h3 {
    color: blue;
}
h4 {
    color: blue;
}

h5 {
    color: purple;
}
.caja{
    opacity: 1;
    transition: all linear 0.3s;
}
/* este ng-hide viene incluida en la libreria de animate */
.caja.ng-hide{
    opacity: 0;
}